<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690325525662-cspls2fkc4r0oreg9k7fehaaiaj94j96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690325525662-cspls2fkc4r0oreg9k7fehaaiaj94j96</string>
	<key>API_KEY</key>
	<string>AIzaSyB9CMllqfB0WEerjwAVwJHJLLHhrmLiIGM</string>
	<key>GCM_SENDER_ID</key>
	<string>690325525662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiranya.Manage-App</string>
	<key>PROJECT_ID</key>
	<string>manageapp-66431</string>
	<key>STORAGE_BUCKET</key>
	<string>manageapp-66431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690325525662:ios:a79b28184cf7b70c47178f</string>
</dict>
</plist>
